<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections></configSections>
  <connectionStrings>
    <add name="Authentication.Properties.Settings.Role_Base_AuthenticationConnectionString" connectionString="Data Source=LAPTOP-K7KKQB30;Initial Catalog=&quot;Role-Base Authentication&quot;;Persist Security Info=True;User ID=sa;Password=zero00000" providerName="System.Data.SqlClient" />
    <add name="Entities" connectionString="metadata=res://*/AuthenticationData.csdl|res://*/AuthenticationData.ssdl|res://*/AuthenticationData.msl;provider=System.Data.SqlClient;provider connection string='data source=LAPTOP-K7KKQB30;initial catalog=&quot;Role-Base Authentication&quot;;persist security info=True;user id=sa;password=zero00000;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>